/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --primary: #5fb3b3;
  --primary-lightest: #9be2e2;
  --primary-light: #79c2c4;
  --primary-dark: #1a8384;
  --secondary: #a78bfa;
  --error: #b3545e;
  --bg: #fff;
  --bg-subtle: #f4f6f9;
  --ink: #0f1c23;
  --ink-2: #343d46;
  --ink-3: #65737e;
  --timing-l: 5s;
  --timing-s: 0.5s;
}
.dark {
  --primary: #1a8384;
  --primary-dark: #5fb3b3;
  --secondary: #fac863;
  --error: #ed6f7d;
  --bg: #0f1c23;
  --bg-subtle: #1b2b34;
  --ink: #fff;
  --ink-2: #c2c7d0;
  --ink-3: #9bafbe;
}

body {
  background-color: var(--bg);
  color: var(--ink-2);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: clamp(1.13rem, calc(1.02rem + 0.52vw), 1.31rem);
  margin:0;
  padding:0;
  line-height: 1.5;
}

::selection {
  background-color: rgba(250, 200, 99, .99);
  color: #0f1c23;
}

/* ---
 Links
--- */
a:not([class]) {
  color: var(--primary-dark);
  text-decoration-color: var(--secondary);
  text-underline-offset: 0.25em;
}
a:not([class]):hover {
  text-decoration-style: wavy;
}

/* ---
 Accessibility
--- */
button:focus-visible, a:focus-visible {
  outline-color: var(--primary);
  outline-offset: 0.25rem;
  outline-style: solid;
  outline-width: 2px;
}
